[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pyinstaller = "*"
flake8 = "*"
bandit = "*"
pytest-cov = "*"
autopep8 = "*"

[packages]
pystray = "*"

[requires]
python_version = "3.7"
